albucore==0.0.20
albumentations==1.4.21
annotated-types==0.7.0
beautifulsoup4==4.11.1
cmake==3.25.2
dlib==19.24.2
eval_type_backport==0.2.0
fsspec==2024.10.0
glib==1.0.0
imutils==0.5.4
joblib==1.4.2
matplotlib==3.9.2
mkl-service==2.4.0
numpy==1.26.4
opencv-python==4.7.0.72
opencv-python-headless==4.10.0.84
pandas==1.4.3
ply==3.11
protontricks==1.10.2
pydantic==2.10.3
pydantic_core==2.27.1
PyQt5==5.15.10
python-dateutil==2.8.2
pytz==2022.1
scikit-learn==1.5.2
simsimd==6.2.1
soupsieve==2.3.2.post1
stringzilla==3.11.0
sympy==1.13.1
threadpoolctl==3.5.0
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tqdm==4.67.1
triton==3.1.0
typing_extensions==4.12.2
vdf==3.4
